@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: radial-gradient(circle at top, #0b1224, #020617);
  min-height: 100vh;
}

/* GLASS CONTAINER */
.container {
  max-width: 1300px;
  margin: 70px auto;
  padding: 35px;

  background: rgba(10, 15, 30, 0.7);
  backdrop-filter: blur(18px);

  border-radius: 22px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 25px 80px rgba(0, 0, 0, 0.7);
}

/* NAV */
.top-links a {
  color: #00f5c6;
  margin-right: 18px;
  font-weight: 600;
}

h1,
h2 {
  color: white;
  text-align: center;
}

/* TABLE */
table {
  width: 100%;
  margin-top: 35px;
  border-collapse: collapse;
}

th {
  background: linear-gradient(135deg, #1e293b, #0f172a);
  padding: 14px;
  color: #00f5c6;
}

td {
  padding: 14px;
  color: #e5e7eb;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

tr:hover {
  background: rgba(0, 245, 198, 0.06);
}

/* BUTTON */
button {
  background: linear-gradient(135deg, #00f5c6, #3b82f6);
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

/* INPUT */
input {
  background: #020617;
  border: 1px solid rgba(255, 255, 255, 0.12);
  color: white;
  padding: 6px;
  border-radius: 8px;
}

/* P/L */
.profit {
  color: #00f5c6;
}

.loss {
  color: #ff5c5c;
}
